<div class="container">
  <%- messages() %>
  <h1>(⌐■_■) Account Management</h1>
  <h2>Welcome, <%-account_firstname%>, to your account management center!</h2>
  <p>You are currently logged in as <%= account_email %></p>
  <% if (accountData.account_type === "Employee" || accountData.account_type ===
  "Admin") { %>
  <h3>Inventory Management:</h3>
  <a href="/inv" class="hero-btn">Manage Inventory</a>
  <% } %>

  <ul>
    <li>
      <a href="/account/account-update">Edit Account Details</a>
    </li>
    <li>
      <a href="/account/logout">Logout</a>
    </li>
  </ul>
</div>
