<div class="container">
  <%- messages() %>
  <h1>Welcome to Your Account Management</h1>
  <p>You are logged in as <%= account_email %></p>
  <ul></ul>
    <li>
      <a href="/account/edit">Edit Account Details</a>
    </li>
    <li>
      <a href="/account/logout">Logout</a>
    </li>
  </ul>
</div>