<h1><%= title %></h1>
<%- messages() %>
<div class="content">
  <p>All fields are required.</p>
  <form action="/account/register" method="post" id="registrationForm">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="account_firstname" required />
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="account_lastname" required />
    </div>
    <br />
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="account_email" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="account_password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      />
    </div>

    <div id="password-requirements">
      <p>
        Passwords must be minimum of 12 characters and include 1 capital letter,
        1 number and 1 special character.
      </p>
    </div>

    <label>
      <input type="checkbox" id="showPassword" onclick="togglePassword()" />
      Show password
    </label>
    <br />
    <button type="submit">Register</button>
  </form>
  <div style="margin-top: 1rem">
    <span>Already have an account? </span>
    <a href="/account/login">Login</a>
  </div>
  <script>
    function togglePassword() {
      const pwd = document.getElementById("password");
      const show = document.getElementById("showPassword").checked;
      pwd.type = show ? "text" : "password";
    }
  </script>
</div>
