<h1>Welcome to CSE Motors!</h1>

<section class="hero-container">
  <aside class="hero-sidebar">
    <h2 class="hero-title">DMC Delorean</h2>
    <ul class="hero-list">
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice</li>
    </ul>
    <a href="/" class="hero-btn">Own Today</a>
  </aside>
</section>

<div id="content">
  <div id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="review-list">
      <li class="review-item">
        "So fast it's almost like travelling back in time!" 4/5
      </li>
      <li class="review-item">"Coolest ride on the road." 4/5</li>
      <li class="review-item">"I'm feeling McFly!" 5/5</li>
      <li class="review-item">"The most futuristic ride of our day" 4/5</li>
      <li class="review-item">"80s livin and I love it!" 5/5</li>
      <li class="review-item">
        "I love my DMC Delorean! It has everything I need and more!" 4/5
      </li>
    </ul>
  </div>
</div>

<div class="upgrades">
  <h2>Delorean Upgrades</h2>
  <ul class="upgrade-list">
    <li>
      <div class="upgrade">
        <img src="images/upgrades/flux-cap.png" alt="flux-cap" />
        <p>Flux Capacitor</p>
      </div>
    </li>
    <li>
      <div class="upgrade">
        <img src="images/upgrades/flame.jpg" alt="flame" />
        <p>Flame Decals</p>
      </div>
    </li>
    <li>
      <div class="upgrade">
        <img src="images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" />
        <p>Bumper Stickers</p>
      </div>
    </li>
    <li>
      <div class="upgrade">
        <img src="images/upgrades/hoverboard.jpg" alt="hoverboard" />
        <p>Hoverboard</p>
      </div>
    </li>
    <li>
      <div class="upgrade">
        <img src="images/upgrades/hub-cap.jpg" alt="hub-cap" />
        <p>Hub Caps</p>
      </div>
    </li>
  </ul>
</div>
