<!DOCTYPE html>
<html lang="en">
  <body>
      <main>
        <h1><%= title %></h1>
        <p><%= message %></p>
        <!-- <img src="/images/site/404.jpg" alt="404 Not Found" style="display:block;margin:2rem auto;"> -->
        <a class="hero-btn" href="/">Return Home</a>
      </main>
  </body>
</html>